@model PostDto
@{
    Layout = null;
}

<link href="~/css/Login.css" rel="stylesheet" />
<link href="~/css/FileInput.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


<div class="container">
    <header>Create Post Form</header>
    <div class="form-outer">
        <form method="post" enctype="multipart/form-data">
            <input type="text" asp-for="EditedDate" value="@DateTime.Now" hidden/>

            <div class="page slide-page">
                <div class="title">
                    Post Info:
                </div>
                <div class="field">
                    <div class="label">
                        Header
                    </div>
                    <input type="text" asp-for="Header" required autocomplete="off">
                </div>
                <div class="field">
                    <div class="label">
                        Text
                    </div>
                    <input type="text" asp-for="Text" required autocomplete="off">
                </div>
                <div class="field">
                    <div class="label">
                        File
                    </div>
                @* <input type="file" asp-for="Image" required> *@
                    <div class="wrapper">
                        <div class="formDiv">
                            <input class="file-input" type="file" asp-for="Image" hidden>
                            <i class='bi bi-cloud-arrow-up'></i>
                            <p>Browse File to Upload</p>
                        </div>

                        <p class="CompletedText" style="margin-top:30px"></p>
                    </div>
                </div>
                <div class="field" style="margin-top:230px; margin-bottom:10px">
                    <button class="submit" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/js/FileInput.js"></script>                           