@model DepartmentDto

<form method="post">
    <input type="text" asp-for="DeptName" placeholder="Department name" required="" autocomplete="off">
    <br>
    <br>
    <input type="text" asp-for="DeptCode" placeholder="Department code" required="" autocomplete="off">
    <br>
    <br>
    <input type="text" asp-for="DeptDesc" placeholder="Department desc" required="" autocomplete="off">
    <br>
    <br>
    <input type="text" asp-for="DeptLogo" placeholder="Department logo" required="" autocomplete="off">
    <br>
    <br>
    <input type="submit" value="Kaydet">
</form>
