@model DepartmentDto
@{
    Layout = null;
}

<link href="~/css/Login.css" rel="stylesheet" />

<div class="container">
    <header>Dept Create Form</header>
    <div class="form-outer">
        <form method="post">
            <div class="page slide-page">
                <div class="title">
                    Department Info:
                </div>
                <div class="field">
                    <div class="label">
                        Department
                    </div>
                    <input type="text" asp-for="DeptName" required="" autocomplete="off">
                </div>
                <div class="field">
                    <div class="label">
                        Department Code
                    </div>
                    <input type="text" asp-for="DeptCode" required="" autocomplete="off">
                </div>
                <div class="field">
                    <div class="label">
                        Department Description
                    </div>
                    <input type="text" asp-for="DeptDesc" required="" autocomplete="off">
                </div>
                <div class="field">
                    <button class="submit" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
