@model AdminDto

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>UserName</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>@Model.Name</td>
                <td>@Model.Surname</td>
                <td>@Model.UserName</td>
            </tr>
    </tbody>
</table>

<br>
<br>
<br>
<br>
<a asp-action="CreateUser" asp-controller="User" class="Button">Create User</a>
<br>
<br>
<a asp-action="ListUser" asp-controller="User" class="Button">List Users</a>
<br>
<br>
<a asp-action="CreateDept" asp-controller="Home" class="Button">Create Department</a>
<br>
<br>
<a asp-action="ListDept" asp-controller="Home" class="Button">List Departments</a>
<br>
<br>