@model AdminDto

<link href="~/css/StyleSheet.css" rel="stylesheet" />
@{
    Layout = null;
}

<div class="container">
    <div class="profile">
        <img src="https://via.placeholder.com/100" alt="Profile Photo">
        <p>Name: @Model.Name</p>
        <p>Surname: @Model.Surname</p>
        <p>Username: @Model.UserName</p>
    </div>
    <div class="actions">
        <button>List Departments</button>
        <button>Create Departments</button>
        <button>List Users</button>
        <button>Create Users</button>
    </div>
</div>