@model AdminDto

<link href="~/css/StyleSheet.css" rel="stylesheet" />
@{
    Layout = null;
}

<div class="container">
    <div class="profile">
        <img src="https://via.placeholder.com/100" alt="Profile Photo">
        <p>Name: @Model.Name</p>
        <p>Surname: @Model.Surname</p>
        <p>Username: @Model.UserName</p>
    </div>
    <div class="actions">
        <a asp-action="ListDept" asp-controller="Home">List Departments</a>
        <a asp-action="CreateDept" asp-controller="Home">Create Departments</a>
        <a asp-action="ListUser" asp-controller="User">List Users</a>
        <a asp-action ="CreateUser" asp-controller="User">Create Users</a>
    </div>
</div>