@using CompanyPortal.Application.Abstractions.User.Dtos
@model UserDto

<form method="post">
    <input type="text" asp-for="Name" placeholder="Name" required="">
    <br>
    <br>
    <input type="text" asp-for="Surname" placeholder="Surname" required="">
    <br>
    <br>
    <input type="text" asp-for="Email" placeholder="Email" required="">
    <br>
    <br>
    <input type="text" asp-for="Password" placeholder="Password" required="">
    <br>
    <br>
    <input type="submit" value="Kaydet">
</form>
