@model UserDto

<form method="post">
    <input type="text" asp-for="Name" placeholder="Name" required="">
    <br>
    <br>
    <input type="text" asp-for="Surname" placeholder="Surname" required="">
    <br>
    <br>
    <input type="text" asp-for="Email" placeholder="Email" required="">
    <br>
    <br>
    <input type="text" asp-for="Password" placeholder="Password" required="">
    <br>
    <br>
    <label asp-for="DepartmentId" class="control-label">Select Department</label>
    <select asp-for="DepartmentId" asp-items="@Model.DepartmentList" class="form-control">
        <option value="">-- Please Select --</option> 
    </select>
    <br>
    <br>
    <input type="text" asp-for="Position" placeholder="Position" required="">
    <br>
    <br>
    <input type="submit" value="Kaydet">
</form>
