@model UserDto
@{
    Layout = null;
}

<link href="~/css/Login.css" rel="stylesheet" />

<div class="container">
    <header>Login Form</header>
    <div class="form-outer">
        <form method="post">
            <div class="page slide-page">
                <div class="title">
                    Login Info:
                </div>
                <div class="field">
                    <div class="label">
                        Email
                    </div>
                    <input type="text" asp-for="Email" required autocomplete="off">
                </div>
                <div class="field">
                    <div class="label">
                        Password
                    </div>
                    <input type="text" asp-for="Password" required autocomplete="off">
                </div>
                <div class="field">
                    <button class="submit" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
